<p-card [style]="{ width: '25rem', overflow: 'hidden', height: 'calc(100vh - 110px)' }">
    <ng-template #header>
        <p class="text-xl p-3 border-bottom-1">Sources</p>
        <div class="flex m-3">
            <p-fileupload mode="basic" chooseLabel="Add source" chooseIcon="pi pi-plus" accept=".pdf" customUpload="true" auto="true" (uploadHandler)="onUpload($event)" class="add-src-btn w-full" />
        </div>
    </ng-template>
    @if(pdfList.length !== 0){
    <div class="flex align-items-center justify-content-between pb-2">
        <label for="ny" class="ml-2">Select all sources</label>
        <p-checkbox formControlName="selectAll" value="New York" inputId="ny" />
    </div>
    }
    @for(item of pdfList; track item.id){
    <div class="flex align-items-center justify-content-between pt-2">
        <label [for]="item.id" class="ml-2 file-name"><i class="pi pi-file-pdf pr-2"></i>{{item.name?.toLowerCase()}}</label>
        <p-checkbox formControlName="city" value="New York" [inputId]="item.id" (onChange)="handleCheckboxChange($event, item.id)"/>
    </div>
    }
</p-card>