<p-card [style]="{ width: '25rem', overflow: 'hidden', height: 'calc(100vh - 110px)' }">
    <ng-template #header>
        <p class="text-xl p-3 border-bottom-1">Sources</p>
        <div class="flex m-3">
            <p-button class="add-src-btn w-full" label="Add source" severity="secondary" icon="pi pi-plus" />
        </div>
    </ng-template>
    <div class="flex align-items-center justify-content-between pb-2">
        <label for="ny" class="ml-2">Select all sources</label>
        <p-checkbox formControlName="selectAll" value="New York" inputId="ny" />
    </div>
    @for(item of items; track item.name){
    <div class="flex align-items-center justify-content-between pt-2">
        <label [for]="item.name" class="ml-2"><i class="pi pi-file-pdf pr-2"></i>{{item.name}}</label>
        <p-checkbox formControlName="city" value="New York" [inputId]="item.name" />
    </div>
    }
</p-card>