<div class="header flex align-items-center justify-content-between w-full p-3">
    <div class="flex align-items-center gap-5">
        <div class="logo font-italic"><a routerLink="/" class="no-underline">Chat AI</a></div>
        <p class="text-xl">{{globalService.chatTitle}}</p>
    </div>
    <p-menubar [model]="items">
        <ng-template #item let-item>
            <ng-container *ngIf="item.route; else elseBlock">
                <a [routerLink]="item.route" class="p-menubar-item-link">
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-container>
            <ng-template #elseBlock>
                <a (click)="item.action()" class="p-menubar-item-link">
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-template>
        </ng-template>
    </p-menubar>
</div>