<p-card [style]="{ overflow: 'hidden', height: 'calc(100vh - 110px)' }">
    <ng-template #header>
        <p class="text-xl p-3 border-bottom-1">Chat</p>
    </ng-template>
    @for(message of conversation; track message.id){
        <div class="flex gap-4 mt-1 pl-2 pr-2">
            <p>{{message.text}}</p>
        </div>
    }
    <ng-template #footer>
        <form [formGroup]="form">
            <div class="flex gap-4 mt-1 pr-2 pt-2 align-items-center border-1 border-round-lg">
                <textarea (keyup.enter)="send()" rows="4" cols="30" pTextarea formControlName="text" class="w-full chat-text"></textarea>
                <p-button icon="pi pi-send" class="ml-2" [rounded]="true" size="large" (click)="send()"></p-button>
            </div>
        </form>
    </ng-template>
</p-card>