<p-dialog header="Chat AI" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" (onHide)="closePopup()">
    <span class="p-text-secondary block mb-3">Create new chat group.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="title" class="font-semibold w-24">Title</label>
        <input pInputText id="title" class="flex-auto" autocomplete="off" [(ngModel)]="groupTitle" />
    </div>
    <div class="flex m-3">
        <p-fileupload mode="basic" chooseLabel="Add source" chooseIcon="pi pi-plus" accept=".pdf" customUpload="true" auto="true" (uploadHandler)="onUpload($event)" class="add-src-btn w-full" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="closePopup()" />
        <p-button label="Create" (click)="create()" />
    </div>
</p-dialog>