<div class="home pl-3 pr-3">
    <h1 class="pt-5 pb-5 gradient-text">Welcome to Chat AI</h1>
    <div class="saved-chats">
        <p class="border-bottom-1 text-xl pb-3">My Chats</p>
        <div class="filter-block">
            <p-button label="Create new" class="mt-2 mb-2" icon="pi pi-plus" (click)="visible = true"></p-button>
            <app-create-new-popup [(visible)]="visible" (onSubmit)="navigateToChat(0)"></app-create-new-popup>
        </div>
        <div class="grid gap-5 mt-5 chats-container">
            @for(item of savedChats$ | async; track item.id){
                <p-card class="col-fixed" [style]="{ width: '250px', overflow: 'hidden', height: '200px' }" (click)="navigateToChat(item.id)">
                    <ng-template #header>
                        <div class="flex justify-content-end p-1">
                            <p-button severity="secondary" icon="pi pi-trash" (click)="handleDelete($event)"></p-button>
                        </div>
                    </ng-template>
                    <div class="flex align-items-center justify-content-between">
                        <p class="text-xl chat-title">{{item.title}}</p>
                    </div>
                    <ng-template #footer>
                        <p class="inline">Jan 5, 2025</p> . 
                        <p class="inline">1 source</p>
                    </ng-template>
                </p-card>
            }
            <p-confirmdialog />
        </div>
    </div>
</div>